@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;600&display=swap');

:root{
    --primary-color: #1591da;
}

body{
    font-family: one-sans;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-image: linear-gradient(to right bottom, #07224f, #005384, #0089b0, #00c1ce, #6cf9e1);
}

h1{
    color: var(--primary-color);
    margin-top: 0.3rem;
}

input{
    margin: 0.5rem 0.5rem 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

main{
    padding: 1rem;
    max-width: 600px;
    margin: auto;
}

img{
    width: 200px;
    padding-bottom: 1.2rem;
}

a{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

li{
    display: inline;
    margin: 0 1rem;
}

ul{
    padding-inline-start: 0;
}

#after_submit{
    width: 80%;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    display: none;
    margin: auto;
}

footer{
    text-align: center;
    padding: 0.5rem;
    background-image: linear-gradient(to right top, #07224f, #005384, #0089b0, #00c1ce, #6cf9e1);
}

.btn{
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    margin: auto;
    margin-bottom: 1rem;
    display: block;     
    border-radius: 0.8rem;
}

#profit{
    display: none;
}

#loss{
    display: none;
}

#ok{
    display: none;
}

.footHeading{
    color: white;
    margin: 0.5rem;
}